.unmes {float: left; background-image: url('../iconos/1m.png');width: 22px; background-size: cover;height: 22px}
.H {float: left; background-image: url('../iconos/h.png');width: 22px; background-size: cover;height: 22px}
.k2 {float: left; background-image: url('../iconos/k2.png');width: 22px; background-size: cover;height: 22px}
.oi {float: left; background-image: url('../iconos/oi.png');width: 22px; background-size: cover;height: 22px}
.oo {float: left; background-image: url('../iconos/oo.png');width: 22px; background-size: cover;height: 22px}
.ooo {float: left; background-image: url('../iconos/ooo.png');width: 22px; background-size: cover;height: 22px}
.rx {float: left; background-image: url('../iconos/rx.png');width: 22px; background-size: cover;height: 22px}